@font-face {
    font-family: 'OreloTrial-SemiWideUltraLightItalic';
    src: local(OreloTrial-SemiWideUltraLightItalic),
    url(../Orelo-SemiWideUltraLightItalic.otf) format("opentype");
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'OreloTrial-SemiWideLight';
    src: local(OreloTrial-SemiWideLight),
    url(../Orelo-SemiWideLight.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face{
    font-family:'Daehan';
    font-style:normal;
    font-weight:400;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}
