body {
    padding: 0 120px;
}
/* header */
.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    font-family: 'OreloTrial-SemiWideLight';
    color: #888;
    text-transform: uppercase;
}
.header_menu div {
    font-size: 24px;
}
.header_menu ul {
    font-size: 16px;
    
}
.header_menu ul li {
    display: inline;
    padding-left: 60px;
    position: relative;
}
.header_menu ul>li::after {
    content: "";
    position: absolute;
    width: 10px; height: 1px;
    bottom: 8px; right: -38px;
    background-color: #888;
}
.header_menu ul li:last-child::after {
    content: "";
    position: absolute;
    width: 30px; height: 30px;
    bottom: -30px; right: 36px;
    background-image: url(../img/darkmode.png) bottom/15px no-repeat;;
    
}
.header_menu .darkmode {

}
/* main */
#container {

}
.home .home_title h1 {
    color: #57514c;
    font-size: 12vw;
    font-weight: 300;
    line-height: 1;
}
.home .home_title h1:nth-child(1) {
    font-family: 'OreloTrial-SemiWideLight';
    text-transform: uppercase;
    padding-left: 300px;
}
.home .home_title h1:nth-child(2) {
    font-family: 'OreloTrial-SemiWideUltraLightItalic';
}
.home .home_title h1:nth-child(3) {
    text-align: right;
    font-family: 'OreloTrial-SemiWideLight';
    text-transform: uppercase;
    
}
.home .home_desc img {
    display : block;
    margin: 0 auto;
    z-index: 200;
}
.home .home_desc .home_desc_txt {
    width: 340px;
    height: 240px;
    padding: 50px;
}
.home .home_desc .home_desc_txt p {
    padding: 20px 0;
    font-family:'Daehan';
}

.home_me {
    padding-bottom: 80px;
}
.home_txtmain {
    padding: 120px;
    font-size: 70px;
}

.home_txt3_1 {
    width: 350px;
    padding: 0 250px;
    float: left;
    padding-bottom: 200px;
}
.home_txt3_1 p {
    padding-top: 40px;
}
.home_txt3_2{
    width: 300px;
    padding: 0 50px;
    float: left;
    padding-bottom: 200px;
}
.home_txt3_2 p {
   padding-top: 40px;
}
.home_txt3_3 {
    width: 300px;
    padding: 0 50px;
    float: left;
    padding-bottom: 200px;
}
.home_txt3_3 p {
    padding-top: 40px;
}
.footer {
    height: 300px;
    background: #161616;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 175px;
    clear: both;
}
