/* layout */
#contents {
}
#section1 {
    background: #F6F4F1;
}
#section2 {
    background: #F6F4F1;
}
#section3 {
    background: #F6F4F1;
}
#section4 {
    background: #000;
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'OreloTrial-SemiWideLight';
    color: #888;
    text-transform: uppercase;
    z-index: 1000;
}
#header h1 {
    padding: 20px 30px;
    letter-spacing: 2px;
}
#header .nav {
    padding: 20px 40px;
}
#header .nav li {
    display: inline;
}
#header .nav li a {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 0.7px;
}
.header ul li.menubar::after {
    content: "";
    position: absolute;
    width: 10px; height: 1px;
    bottom: 8px; right: -38px;
    background-color: #888;
}

/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* sec1 */
.sec1 {
    padding: 10vh 0;
}
.main-text {
    text-align: center;
    font-size: 12vw;
    line-height: 15vw;
    margin-bottom: 20vh;
    position: relative;
    z-index: 10;
    mix-blend-mode: color-burn;
}
.main-text > div {
    font-family: 'OreloTrial-SemiWideLight';
    margin-bottom: 10px;
    text-transform: uppercase;
}
.main-text > div:nth-child(2) { 
    font-family: 'OreloTrial-SemiWideUltraLightItalic';
    text-align: left;
}
.main-text > div:nth-child(3) {
    text-transform: capitalize;
    text-align: right;
    font-style: italic;
}
.sub {
    position: relative;
    display: flex;
}
.sub .about-text {
    width: 20%;
    position: absolute;
    left: -5%; top: 0;
    width: 30%;
    font-family: 'Daehan';
    font-size: 17px;
    text-align: justify;
    z-index: 100;
    color: #666;
}
.sub .about-text2 {
    position: absolute;
    right: 5%; top: 50%;
    width: 30%;
    font-family: 'Daehan';
    font-size: 17px;
    text-align: justify;
    z-index: 100;
    color: #666;
}
.sub .main-img {
    width: 50vw;
    margin: 0 auto;
}
.sub .main-img img {
    width: 100%;
}
/* sec2 */
.sec2 {
    padding: 5vh 0;
}
.main-nav {
    
}
.main-nav .main-title {
    padding-bottom: 100px;
    padding-left: 60px;
    font-size: 150px;
    color: #57524c;
   
}
.main-nav .main-title .title1::after {
    content: '';
    width: 25px; height: 220px;
    position: absolute;
    top: 120px; right: 500px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;

}
.main-nav .main-title .title1 {
    font-family: 'OreloTrial-SemiWideLight';
    text-transform: uppercase;
    padding-left: 200px;
    margin-bottom: -40px;
    position: relative;
    
}
.main-nav .main-title .title2 {
    font-family: 'OreloTrial-SemiWideUltraLightItalic';
}
.main-nav .nav-img {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    
}
.main-nav .nav-img a>img {
    padding: 0 10px;
}

.main-nav p {
    padding: 0 240px;
    font-family: 'Daehan';
    font-size: 14px;
    color: #525252;
    position: relative;
}
.main-nav p::after{
    content: "";
    position: absolute;
    width: 25px; height: 1px;
    bottom: 10px; left: 360px;
    background-color: #525252; 
}
.main-nav .home-slide {
    cursor: pointer;
    height: 100%;
    position: relative;
    transform: translate3d(0,200%,0);
}


/* sec3 */
.sec3 {
    padding: 20vh 0;
    font-family: 'Daehan';
}

.about-title {
    font-family: 'OreloTrial-SemiWideLight';
    font-weight: lighter;
    text-transform: uppercase;
    padding: 60px 0;
    padding-left: 40px;
    color: #57524c;
    font-size: 140px;
    
}
.about-sub {
    width: 100%;
    padding-bottom: 400px;
    padding-top: 30px;
    font-size: 14px;
}
.about-sub>div{
    width: 20%;
    padding-left: 50px;
}

.about-sub .as-text1 img {
    width: 100%; height: 210px;
    object-fit: cover;
}
.about-sub .as-text1 {
    float: left;
}
.about-sub .as-text2 {
    float: left;
}
.about-sub .as-text3 {
    float: left;
}
.about-sub .as-text4 {
    float: left;
}
.about-sub div>p {
    padding-top: 40px;
    text-align: justify;
}
.about-sub .as-text1 p {
    padding-bottom: 30px;
   
}


/* sec4 */
.sec4 {
    padding: 6vh 0;
}
.contact-text {
    position: relative;
}
.contact-text a {
    font-family: 'Daehan';
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 80px; right: -100px;
}
.contact-text div {
    font-size: 170px;
    color: #fff;
}
.contact-text .ct1 {
    font-family: 'OreloTrial-SemiWideLight';
    margin-bottom: -30px;
    position: relative;
}
.contact-text .ct1::after {
    content: "";
    position: absolute;
    width: 300px; height: 1px;
    top: 150px; left: 600px;
    background-color: #fff; 
}
.contact-text .ct2 {
    font-family: 'OreloTrial-SemiWideUltraLightItalic';
    text-align: center;
    padding-left: 60px;
}